body{
    color:green;
}

body{
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

section{
    border:inherit;
        }

div{
    border:inherit;
}

div{
    background-color: blue;
    background-color: transparent;
    background-color: lightpink;
    background-color: rebeccapurple;
}

div{
    border-color: gray;
    border-width: 1px;
    border-style: dotted;
}