.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-wrap;
    flex-flow: row wrap;

}

.columna1, .columna2, .columna3, .columna4,
.columna5 {
    width: 100% ;
}

@media (min-width: 600px){
    .columna2,.columna3,.columna4,.columna5{
        width: 50%;
    }
}

@media (min-width: 800px){
    .columna1{ width: 60%; }
    .columna2{ width: 40%; }
    .columna3,.columna4{
        width: 33%;
    }
    .columna5{ width: 34%; }
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

body{
    margin: 0;
}

nav{
    color: #b4d2f7;
    background-color: darkslategray;
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container article{
    box-sizing: border-box;
    min-height: 150px;
    min-width: 150px;
}

.columna1{
    color: #ddd;
    background-color: #003476
}

.columna2{
    color: #ddd;
    background-color: #0062d2
}

.columna3{
    color: #333;
    background-color: #b4d2f7
}

.columna4{
    color: #333;
    background-color: #d5dfef
}

.columna5{
    color: #333;
    background-color: #dfe1e5
}