table{
    align-self: center;
    border: 2px solid black;
    
}

th{
    background-color: cyan;
    border: 1px solid black;
    
}

td{
    border: 1px solid black
}

body{
    align-tracks: center;
    vertical-align: middle;
    
}

.vehiculo{

    background-color: yellow;
}

.total{
    background-color: yellowgreen;
}