header{
    background-color: orange;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}

nav{
    background-color: yellow;
    text-align: center;
    height: 40px;
    border-radius:15px 15px 15px 15px ;
    
}

aside{
    background-color: rgb(158, 128, 228);
    text-align: center;
    height: 400px;
    width: 400px;
    float: right;
    margin-top: 20px;
    border-radius:15px 15px 15px 15px 
}

main{
    background-color:rgb(5, 104, 82) ;
    text-align: center;
    height: 400px;
    width: 550px;
    border-radius:15px 15px 15px 15px 
 
}

article{
    background-color: rgb(43, 201, 148);
    text-align: center;
    margin-top: 110px;
    margin-right: 55px;
    margin-left: 70px;
    height: 200px;
    width: 150px;
    float: left;
    border-radius:15px 15px 15px 15px 
}

footer{
    background-color: rgb(43, 201, 148) ;
    text-align: center;
    height:100px;
    border-radius:15px 15px 15px 15px 
    

}


