/*Selector de etiqueta*/

/* p{
    color:red;
}

h1{
    color : blue;
} */

/* Selectores de clase */

/* .title{
    color:green;
}

.text{
    color:blueviolet;
} */

/* Selectores de id */

/* #titulo{
    color:aqua;
}

#texto{
    color: blueviolet;
} */

/* Selectores universales (solo para resetear navegador) */
 /* *{
     color:red;
 } */

 /* Selectores de atributo */
/* Selecciona los elementos que tienen ese atributo */
 [href]{
     color: green;
 }
/* Selecciona los elementos que tienen ese atributo y el valor */

 [href = "#"]{
    color: red;
}

/* Selecciona los elementos que tienen ese atributo y el valor aunque sea una vez */

[class~= "verde"]{
    color: green;
}


/* Selecciona los elementos que tienen ese atributo y exactamente ese valor y empiece por el valor seguido de un guion */

[class|= "verde"]{
    color: blue;
}

/* Selecciona los elementos que tienen ese atributo y exactamente ese valor y empiece por ese valor */

[class ^= "rojo"]{
    color: purple;
}

/* Selecciona los elementos que tienen ese atributo y exactamente ese valor y terminan por ese valor */

[class$= "rojo"]{
    color: steelblue;
}

/* Selecciona los elementos que tienen ese atributo y exactamente ese valor y contengan ese valor */

[class*= "rojo"]{
    color: brown;
}





